<div id="googleMap">
<h1 id="loading">Loading...</h1></div>
<div class="navbar">
<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">All Crimes</a></li>
  <li role="presentation"><a href="http://localhost:3000/maps?crime=theft">Theft</a></li>
  <li role="presentation"><a href="http://localhost:3000/maps?crime=robbery">Robbery</a></li>
  <li role="presentation"><a href="http://localhost:3000/maps?crime=theft">Vehicle</a></li>
  <li role="presentation"><a href="http://localhost:3000/maps?crime=robbery">Burglary</a></li>
</ul>
</div>
<%=image_tag("scarla2.png", class: "logo2")%>
