<!DOCTYPE html>
<html>
<head>
  <title>Crimegoggles</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="//maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!-- <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization&sensor=true_or_false">
	</script> -->
</head>
<body>
<%# if current_user %>
  <!-- Logged in as: <%#= current_user.name %> <%#= link_to 'Log Out', logout_path, method: :delete %> -->
<%# elsif params[:controller] == 'user' && params[:action] == 'login' %>
  <%#= link_to 'Log In', login_path %
  <%#= link_to 'Sign Up', users_new_path %>
<%# end %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<%= yield %>

</body>
</html>
